<nav>
  <ul class="pagination">
    <li class="page-item">
      <button class="page-link" (click)="prev()">
        &laquo;
      </button>
    </li>

    @for (page of visiblePages; track page) {
      <li class="page-item" [class.active]="page === currentPage">
        <button class="page-link" (click)="goTo(page)">
          {{ page }}
        </button>
      </li>
    }

    <li class="page-item">
      <button class="page-link" (click)="next()">
        &raquo;
      </button>
    </li>
  </ul>
</nav>
